<html>
<body>
  <br>
  <br>
  <br>
  <br>
  <div class="contatiner" style="
  width: 80%;
  margin: auto;
  ">
  <h1>About Us</h1>

<p>
<br>
<br>
Nowadays, people of different 
ages are keen to search for different activities
 that are away from traditional ones such as just 
 watching some movies at the cinema or simply hanging 
 out in malls. Due to the increasing number of new innovative
  ideas for entertainment throughout the past century, most people 
  find themselves lost while trying to figure out which activity to go
   for that suits their age, taste and personality. Others know about an 
   activity but have no idea how to know more about it, where to find it or 
   check some reviews about it. Some innovative ideas for activities are still
    ambiguous to many people.

  </p>

<p>
This platform aims to combine 
many activities of different 
types offered by a collection of 
service providers. Our visitors can
 check newly innovative entertainment 
 activities categorized by service providers,
  prices, types, offers and past reviews by other 
  platform users. The platform gives the visitors the 
  option to have an account for further discounts or 
  customized activities per their created wish list,
   past actions or the stored cookies by the platform 
   about the logged in user actions.
</p>

<p>

This happens as our platform hosts different
 service providers for entertainment activities
  from different places. The platform offers the 
  service provider the possibility to have a wide 
  range of customers for their offered activities 
  and data analytics for users’ data. The service 
  provider can post adds, apply for a golden package 
  to be from the top featured on the website or even 
  track users’ history.

</p>

<br>
<br>
<br>
<br>



</body>



</html>
