<br>
<br>
<br>
<br>
<br>

<div class="container">
<h3>Welcome to admin page</h3>
<br>
<br>


<!--<div class="input-group-btn">-->
    <!--<button class="btn btn-default" ng-click="viewLogs()">View System Logs</button>-->
<li class="active"><a href="/#/view_system_logs">View system logs</a></li>

<br>
<br>

<li class="active"><a href="/#/complains">View complains</a></li>

<li class="active"><a href="/#/chats">View messages</a></li>

<li class="active"><a href="/#/view_sp_requests">View service providers requests</a></li>
<!--</div>-->
</div>
<br>
<br>
