<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script type="text/javascript">

function checkForm(form)
{
  if(form.Pass.value.length < 8) {
    alert("Error: Password must contain at least 8 characters!");
    form.Pass.focus();
    return false;
  }
  re = /[0-9]/;
  if(!re.test(form.Pass.value)) {
    alert("Error: password must contain at least one number (0-9)!");
    form.Pass.focus();
    return false;
  }
  re= /[!@#\$%\^\&*\)\(+=._-]/
    if(!re.test(form.Pass.value)) {
      alert("Error: password must contain at least one special character!");
      form.Pass.focus();
      return false;
    }
  if(form.Pass.value!=form.Pass2.value) {
    alert("Error: Passwords must match!");
    form.Pass.focus();
    return false;
  }
  var el = document.querySelector('.g-te');
              $el = angular.element(el);
              $scope = $el.scope();
              $scope.changePassword(form.old.value,form.Pass.value,form.Pass2.value);
}

</script>

<h1><strong>Change password<strong></h1>
  <div class="col-sm-5">
      <form class="g-te" onsubmit="checkForm(this)" class="navbar-form" role="search">
      <div class="container input-group">
          Enter your original password:<input name="old" type="password" class="form-control" ng-model="oldPassword" placeholder="old Password" name="oldPassword">
          <br>
          <br>
          Enter your new password:<input name="Pass" type="password" class="form-control" ng-model="newPassword" placeholder="new Password" name="newPassword">
          <br>
          <br>
          Confirm new password:<input name="Pass2" type="password" class="form-control" ng-model="confirmPassword" placeholder="confirm Password" name="confirmPassword">

          <div class="input-group-btn">
              <button class="btn btn-default" type="submit">Save</button>
          </div>
      </div>
      </form>
  </div>
