<br>
<br>
<br>
<br>
<br>

<br>


<h1>Welcome to our sign up page</h1>
    <h2>Please fill in the following boxes</h2>

<div class="input-group">

  Username:  <input type="text" class="form-control" name="userName" ng-model="userName">
  <br>
  Password:  <input type="text" class="form-control" name="password" ng-model="password">
  <br>
  E-mail:  <input type="text" class="form-control" name="email" ng-model="email">
<br>
<br>
  <ul class="nav navbar-nav">
    <li class="dropdown">
  Wanna have an account as: <ul class="dropdown-menu" ng-model="type">
        <li><a href="#" ng-click="typeChosen('0')">User</a></li>
        <li><a href="#" ng-click="typeChosen('1')">Service Provider</a></li>
        <li><a href="#" ng-click="typeChosen('3')">Administrator</a></li>
                            </ul>
    </li>
  </ul>


</div>

<br>
<br>
<br>
<br>
<br>
<br>
