<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h1>Re-enter your username please</h1>
  <div class="col-sm-5">
      <form class="navbar-form" role="search">
      <div class="container input-group">
          <input type="text" class="form-control" ng-model="userName" placeholder="user Name" name="userName">
          <div class="input-group-btn">
              <button class="btn btn-default" ng-click="recover(userName)">Recover password</button>
          </div>
      </div>
      </form>
  </div>
