<br>
<br>
<br>
<br>


<div>
<h1><strong>Service Provider Profile<strong></h1>
</div>
 <br>
 <br>


<br>
	<a class="btn btn-success" href="/#/addActivity">Add Activity</a>


<div class="container">
	<div class="row" style="margin-top:40px;">
		<div class="col-md-6">
    	<div class="well well-sm">

            <div class="row" id="post-review-box" >
                <div class="col-md-12">
                    <form ng-submit="submitComplain()" accept-charset="UTF-8">

                        <textarea class="form-control animated" ng-model="complainBody" cols="50" id="new-complain" name="comment" placeholder="Enter your complain here..." rows="5"></textarea>

                        <div class="text-right" style="padding-top: 20px">
                            <!-- <div class="stars starrr" id="rate" ng-model="reviewObj.rate"  data-rating="0"></div> -->
                            <button class="btn btn-success btn-lg" type="submit">submit complain</button>
                        <li class="active"><a href="/#/holdingReservations">View messages</a></li>
                        </div>
                    </form>
                </div>
            </div>
        </div>

		</div>
	</div>
</div>
